body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.gameArea {
    background-image: url(table.jpg);
    display: flex;
    border-radius: 4%;
    height: 95vh;
    width: 95vw;
    color: white;
    margin: auto;
}


.players {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    padding-top: 5vh;
    height: 40vh;
    padding-bottom: 7vh;

}

.player1 {
    display: flex;
    border: transparent 1em solid;
    border-radius: 10%;
}

.player2 {
    display: flex;
    border: transparent 1em solid;
    border-radius: 10%;
}

.playerWords {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
}

.score {
    font-size: 2em;
}

.imageContainer {
    display: flex;
    justify-content: center;
}


.diceAndButtons {
    padding-top: 5vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#image {
    display: flex;
    border-radius: 20%;
    border: 1em solid black;
    width: 10vw;
}

.playBtns {
    background: none;
    color: white;
    border: 0;
    font-size: 2em;
    margin-bottom: 0.5em;

}



.playBtns:hover {
    color: black;
}




.startOrWin {
    background-image: url(table.jpg);
    display: flex;
    border-radius: 4%;
    height: 95vh;
    width: 95vw;
    color: white;
    margin: auto;
}

.startOrWinContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    margin: auto;

}


.nameEntries {
    display: flex;
    align-self: center;
    padding-bottom: 1em;
}

#player1NameEntry {
    margin-right: 1em;
}

#newGameBtn {
    background: none;
    color: white;
    border: 0;
    font-size: 2em;
}

#newGameBtn:hover {
    color: black;
}


#msg {
    width: 100%;
    padding-top: 2vh;
    font-size: 5em;
}


@media (max-width: 480px) {
    body {
        font-size: 10px;
    }

    .gameArea {
        background-size: cover;
    }

    .player1 {
        width: 30%;
        justify-content: center;

    }
    
    .player2 {
        width: 30%;
        justify-content: center;
    }

    #image {
        width: 20vw;

    }

    #rules {
        font-size: 2em;
    }

    .nameEntries {
        width: 100%;
        justify-content: center;
    }

    #player1NameEntry {
        width: 50%;
    }
    
    #player2NameEntry {
        width: 50%;
    }

}


@media (max-width: 360px){
    body {
        font-size: 8px;
    }

}